@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dolphin</h1>
    <p class="lead">Dophin is a donation management system.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Donors</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Beneficiaries</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Charity Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. purus lectus malesuada libero, sit amet commodo magna eros quis urna..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>